<!-- >> JS
============================================================================== -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="vendor/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Validate -->
<script src="vendor/validate.js"></script>
<!-- Countdown -->
<script src="vendor/jquery.countdown.min.js"></script>
<!-- Mansonry -->
<script src="vendor/imagesloaded.pkgd.min.js"></script>
<script src="vendor/masonry.pkgd.min.js"></script>
<!-- Modal box-->
<script src="vendor/nivo-lightbox/nivo-lightbox.min.js"></script>
<!-- Cycle -->
<script src="vendor/cycle2.js"></script>
<!-- SmoothScroll -->
<script src="vendor/smoothScroll.js"></script>
<!-- Placeholder for IE -->
<script src="vendor/placeholders.jquery.min.js"></script>
<!-- Crossbrowser -->
<script src="js/cross-browser.js"></script>
<!-- Main Config -->
<script src="js/main.js"></script>
<!-- Holder -->
<script src="vendor/holder.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="vendor/html5shiv.js"></script>
  <script src="vendor/respond.min.js"></script>
<![endif]-->
<!-- >> /JS
============================================================================= -->